<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" xmlns:th="http://www.thymeleaf.org">
    <title>Beautician</title>
    <head th:insert="~{fragments/links.html :: links}"></head>
    <link rel="stylesheet" href="/modal.css">
</head>
<body>

<header th:insert="~{fragments/navbar.html :: nav}"></header>
<div class="master" th:action="@{/beautician}" th:object="${beautician}" method="get">
    <div class="full-name" th:text="${beautician.fullName}"></div>
    <div class="about" th:text="${beautician.aboutMe}"></div>
</div>

<!-- Button trigger modal -->
<button id="btn-modal"  type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#visitModal">
    SignUp for visit
</button>

<!-- Modal -->
<div class="modal fade" id="visitModal" tabindex="-1" aria-labelledby="visitModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Sign up for visit</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form th:action="@{/reservation}" th:object="${reservation}" method="post">
                    <div class="mb-3">
                        <div>
                            <lable class="form-label">Full Name</lable>
                            <input  class="form-control" type="text" th:field="*{name}" >
                        </div>
                        <div>
                            <lable class="form-label">Description</lable>
                            <input  class="form-control" type="text" th:field="*{description}" >
                        </div>
                        <div>
                            <lable class="form-label">Phone Number</lable>
                            <input class="form-control" type="text" th:field="*{phoneNumber}">
                        </div>
                        <div>
                            <lable class="form-label">Date</lable>
                            <input class="form-control" type="date" th:field="*{date}" >
                        </div>
                        <div>
                            <lable class="form-label" name=>Time</lable>
                            <select class="form-select" required th:field="*{time}">
                                <option th:each="t:*{times}" th:value="${t}" aria-label="Time"><th:block th:text="${t}" /></option>
                            </select>
                            <input hidden="hidden" th:field="*{beautician}"/>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button id="btn-modal-close" type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <input id="btn-modal-submit" type="submit" class="btn btn-primary"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>