<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Master Account</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Candal&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/homeStyle.css">
    <link rel="stylesheet" href="/masterProfile.css">
</head>
<body>
<header th:insert="~{fragments/header.html :: header}"></header>
<div class="container">
    <div class="row">
        <!-- Edit profile section-->
        <div class="col-4">
            <div class="avatar">
                <img src="/img/master.png" class="rounded mx-auto d-block" alt="...">
            </div>

            <div>
                <p>
                    <a class="btn btn-primary d-grid gap-2 col-6 mx-auto" data-bs-toggle="collapse" href="#collapseExample" role="button"
                       aria-expanded="false" aria-controls="collapseExample">
                        Edit profile
                    </a>
                </p>
            </div>
            <div class="collapse" id="collapseExample">
                <div class="card card-body">
                    <div>
                        <label>Email</label>
                        <input type="text" name="email" class="form-control">
                    </div>

                    <div>
                        <label>Address</label>
                        <input type="text" name="address" class="form-control">
                    </div>

                    <div>
                        <label>Phone number</label>
                        <input type="text" name="phoneNumber" class="form-control">
                    </div>

                    <div class="mb-3">
                        <label>About me</label>
                        <textarea class="form-control" rows="3"></textarea>
                    </div>
                    <a type="submit" class="btn btn-primary">Submit</a>
                </div>
            </div>

        </div>
        <!-- navigation-->
        <div class="col-8">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="home-tab" data-bs-toggle="tab"
                            data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane"> Profile
                    </button>
                </li>
                <li class="nav-item" role="presentation" >
                    <button class="nav-link" id="price-list-tab" data-bs-toggle="tab" data-bs-target="#price-list-tab-pane"
                            type="button" role="tab" aria-controls="price-list-tab-pane" aria-selected="false">Price List
                    </button>
                </li>
                <li class="nav-item" role="presentation">
                    <button class="nav-link" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact-tab-pane"
                            type="button" role="tab" aria-controls="contact-tab-pane" aria-selected="false"> Portfolio
                    </button>
                </li>
            </ul>
         <!--   Content-->
            <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab"
                     tabindex="0">
                    About me, Skills...
                    <div>
                        <a type="submit" class="btn" href="#">All My Reservations</a>
                    </div>
                </div>
           <!--     Price list-->
                <div class="tab-pane fade show active" id="price-list-tab-pane" data-toggle="tab" role="tabpanel" aria-labelledby="price-list-tab"
                     tabindex="0">
                    <form th:action="@{/master-account}" th:object="${priceListItem}" method="post"
                          class="row g-3 align-items-center">
                        <h5>Price List</h5>
                        <div class="col-4">
                            <label class="visually-hidden">Name</label>
                            <div class="input-group">
                                <input th:field="*{name}" name="name" type="input" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-4">
                            <label class="visually-hidden">Price</label>
                            <div class="input-group">
                                <input th:field="*{price}" name="price" type="input" class="form-control" placeholder="Price">
                            </div>
                        </div>
                        <div class="col-4">
                            <button type="submit" class="btn btn-primary">Add new</button>
                        </div>
                    </form>
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Service name</th>
                            <th scope="col">Price</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr scope="row" th:each="item, it : ${itemList}">
                            <td th:text="${it.index + 1}"></td>
                            <td th:text="${item.name}"></td>
                            <td th:text="${item.price}"></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
              <!--  Portfolio-->
                <div class="tab-pane fade" id="contact-tab-pane" role="tabpanel" aria-labelledby="contact-tab"
                     tabindex="0">
                    Display Images
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    function activatePriceListab() {
        console.log("activating tab");
        var triggerEl = document.querySelector('#price-list-tab')
        var tab = new bootstrap.Tab(triggerEl);
        tab.show();
    }
    document.addEventListener("DOMContentLoaded", function() {
        activatePriceListab();
    });
</script>
</body>
</html>